@using Shopaholic.Service.Model.Moels;
@model ProductDTO;

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">編輯商品</h1>
            </div><!-- /.col -->           
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div id="FormTool" class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-outline card-info">
                
                <!-- /.card-header -->
                <!-- form start -->
                
                <div class="card-body">
                    
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>商品封面</label>
                                <div v-on:click="ShowCoverImg">
                                    <img v-bind:src="coverUrl"  height="200">
                                </div>
                                <vue-easy-lightbox v-bind:visible="coverVisible" v-bind:imgs="coverUrl" v-on:hide="CoverHandleHide"></vue-easy-lightbox>
                            </div>
                        </div>                        

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>名稱</label>
                                <div>{{ nameInput }}</div>  
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>價格</label>
                                        <div>{{ priceInput }}</div> 
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>庫存</label>
                                        <div>{{ stockInput }}</div> 
                                    </div> 
                                </div>                                
                            </div>   
                            
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <a v-on:click="SubmitBtn" v-on:keydown.enter="SubmitBtn" class="btn btn-primary">購買</a>
                                </div>

                                <div class="col-sm-6">
                                    <label>購買數量</label>
                                    <input class="form-control" v-model="quantity" placeholder="購買數量">
                                </div>
                            </div>

                        </div>                           
                    </div>                 

                    <div class="form-group">
                        <label>描述</label>
                        <div>{{ descInput }}</div> 
                    </div>                   
                    
                    <div class="form-group">
                        <label>內容</label>
                        <div>{{ content }}</div> 
                    </div> 

                </div>               
            </div>
            <!-- /.card -->
        </div>       
    </div><!-- /.container-fluid -->
</section>


@section Scripts{
    <script>  


                
        var FormTool = new Vue({
            el: '#FormTool',
            data:
            {
                coverUrl: '@Model.Image',
                nameInput: '@Html.Raw(@Model.Name)',
                descInput: '@Html.Raw(@Model.Description)',
                priceInput: @Model.Price,
                stockInput: @Model.Stock,
                content: '@Html.Raw(@Model.Content)',
                coverVisible: false,
                quantity: 0,
            },
            mounted: function(){
                var self = this;
            },
            methods:
            {       
                ShowCoverImg: function() {
                    var self = this;
                    self.coverVisible = true;
                },
                       
                CoverHandleHide: function() {
                    var self = this;
                    self.coverVisible = false;
                },

                SubmitBtn: async function () {
                    var self = this;

                    
                },
            }
        });

    </script>
}